*{
    margin: 0;
    padding: 0;
}

p.articleText {
    font-size: 19px;
    padding-bottom: 30px;
    margin-left: 12px;
    color: #c2c2c2;
}

p.imgText{
    font-size: 19px;
    padding-bottom: 30px;
    margin-left: 12px;
    color: #121415;
}

a.articleLink{
    font-size: 14px;
    padding-bottom: 30px;
    margin-left: 12px;
    color: #c2c2c2;
    text-align: none;
}

h1.articleHeader {
    font-weight: 640;
    padding: 30px 0;
    margin-left: 12px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 400;
    display: block;
    line-height: 1.5;
    background: linear-gradient(#001f32, 20%, #121415);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.align{
    display: flex;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gapArticle{
    gap: 3rem;
    padding-bottom: 3rem;
}

/*------------------------ Header ------------------------ */

.logo{
    margin: 2vh;
    height: 6rem;
}

/*------------------------ Main ------------------------ */

.button{
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 1.5vh;
    height: 10vh;
    color: #121415;
    border-radius: 5px;
    font-weight: 700;
}

.inputColor{
    height: 10vh;
    border-radius: 5px;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.keuken{
    background-image: url('../img/keuken.jpg');
}

.woonkamer{
    background-image: url('../img/woonkamer.jpg');
}

.setting{
    background-image: url(../img/gearsetting.png);
}

.garage{
    background-image: url('../img/garage.jpg');
}

.slaapkamer{
    background-image: url('../img/slaapkamer.jpg');
}

.hal{
    background-image: url('../img/hal.jpg');
}

.settings{
    background-image: url('../img/settings.jpg');
}

/*------------------------ Lamp ------------------------ */

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perLamp{
    border: #014570 1px solid;
    border-radius: 1rem;
    min-width: 60vw;
    min-height: 20vh;
    padding: 5vh 0;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lampen{
    display: flex;
    flex-direction: column;
}

.featureLabel{
    font-weight: 640;
    padding-top: 3vh;
}

.lampLabel{
    font-size: 2rem;
}

.numeric{
    height: 5vh;
}

.composite{
    width: 20vw;
    height: 20vh;
}

/*------------------------ Cards ------------------------ */

:root {
    --bg-color: #121415;
    --card-color: #131415;
}
  
.all-cards {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    max-width: 916px;
    width: calc(100% - 20px);
    justify-content: center;
}
    
#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
    font-size: 1.5rem;
    color: #c2c2c2;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
        500px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.card::after {  
    background: radial-gradient(
        375px circle at var(--mouse-x) var(--mouse-y), 
        #014570,
        transparent 80%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 2px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

h3, span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}

.card-image {
    align-items: center;
    display: flex;
    height: 200px;
    border-radius: 5px;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.card-image2 {
    align-items: center;
    display: flex;
    height: 200px;
    border-radius: 5px;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 10px 20px 0px;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info-title > p {
    font-size: 1.2em;
    line-height: 20px;
    color: white;
}

/*------------------------ Footer ------------------------ */

.footerMini{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 32px 0;
}

.footerGroot{
    justify-content: center;
    gap: 20vw;
}

.footer{
    width: 95%;
    margin: auto;
    border-top: #343a40 solid 2px;
}

.articleLink:hover{
    color: #005991;
}

/*----------------------------- Scrollbar ----------------------------*/

::-webkit-scrollbar {
    background-color: #121415;
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #343a40;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 10px;
  }