*{
    margin: 0;
    padding: 0;
}

p.articleText {
    font-size: 19px;
    padding-bottom: 30px;
    margin-left: 12px;
    color: #c2c2c2;
}

p.imgText{
    font-size: 19px;
    padding-bottom: 30px;
    margin-left: 12px;
    color: #121415;
}

a.articleLink{
    font-size: 14px;
    padding-bottom: 30px;
    margin-left: 12px;
    color: #c2c2c2;
    text-align: none;
}

h1.articleHeader {
    font-weight: 640;
    padding-bottom: 30px;
    margin-left: 12px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: #121415;
    font-weight: 400;
    display: block;
    line-height: 1.5;
}

.container{
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.align{
    display: flex;
    align-items: center;
}

.gapArticle{
    gap: 3rem;
    padding-bottom: 3rem;
}

/* Header */

.logo{
    margin: 2vh;
    height: 6rem;
}

/* Main */

.button{
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 1.5vh;
    color: #121415;
    border-radius: 1rem;
    font-weight: 700;
}

.show_bg {
    background-image:
    linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(2,2,15,0.3) 40%, rgba(43,125,200,1) 100%),
    url('../img/keuken.jpg');
    width: 30vmin;
    height: 42vmin;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 1rem;
    cursor: pointer;
}
.woonkamer {
    background-image:
    linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(2,2,15,0.3) 40%, rgba(43,125,200,1) 100%),
    url('../img/woonkamer.jpg');
    width: 30vmin;
    height: 42vmin;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 1rem;
    cursor: pointer;
}
.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Footer */

.footerMini{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 32px 0;
}

.footerGroot{
    justify-content: center;
    gap: 20vw;
}

.footer{
    border-top: #343a40 solid 1px;
    margin-top: 30px;
    padding-top: 30px;
}