section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 5sec;
}

@media (prefers-reduced-motion: no-preference) {
    .hidden {
      transition: all 1s;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Logo */

.sizelogo{
    height: 20vh;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3vh;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}